@font-face {
  font-family: outfit;
  src: url(Outfit/Outfit.ttf);
}


body{
  background-color: rgb(215, 225, 238);
}


.container{
  width: 300px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: absolute;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

}

.text_noir{
  padding-top: 1rem;
  font-weight: 700;
  font-size: 20px;
  font-family: outfit, sans-serif;
}

.text_gris{
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 400;
  color: rgb(152,154,160);
  font-family: outfit, sans-serif;
}